<template>
  <div class="Box">
    <h3 :class="`color-${color}`">{{ title }}</h3>

    <slot />
    <div class="Box-buttons">
      <slot name="buttons" />
      <Button :to="localePath('/')">
        {{ $t('button.home') }}
      </Button>
    </div>
  </div>
</template>

<script>
import Button from '~/components/Button'

export default {
  components: {
    Button,
  },
  props: {
    title: {
      type: String,
    },
    color: {
      type: String,
    },
  },
}
</script>

<style lang="scss">
@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.Box {
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1em 1.5em;
  width: 500px;
}

.Box-buttons {
  display: flex;
  flex-direction: column;

  .Button {
    margin: 0.2em 0;

    &.Button--transparent {
      text-decoration: underline;
    }
  }

  @include small {
    display: flex;
  }
}
</style>
