<template>
  <div class="DayEvents-scrollContainer" ref="scrollContainer">
    <div class="DayEvents" :data-date="date">
      <div class="DayEvents-list DayEvents-list--empty" v-if="isEmpty(dayEvents) || isSelectedRegionSuspended">
        <OwlUnhappy />
        <h2>
          {{
            isSelectedRegionSuspended
              ? $t('DayEvents.suspended', { date: suspendedUntilString })
              : $t('DayEvents.noEvents')
          }}
        </h2>
      </div>
      <div v-else>
        <ul class="DayEvents-list">
          <li class="DayEvents-list-item" v-for="event in dayEvents" :key="event.id">
            <Event
              :event="event"
              :isFavoriteVenue="isFavoriteVenue(event.venue.id)"
              :selectedRegionSlug="selectedRegionSlug"
              :language="language"
              :href="eventHref(event)"
              v-on:click="eventOnClick"
            />
          </li>
        </ul>
        <i18n class="DayEvents-teaser" path="DayEvents.teaserTsri" tag="div" v-if="isSelectedRegionTsri">
          <LinkExternal place="link" href="https://tsri.ch">Tsüri.ch</LinkExternal>
        </i18n>
      </div>
    </div>
  </div>
</template>

<script>
import { isEmpty } from 'ramda'
import { mapGetters } from 'vuex'
import { DateTime } from 'luxon'

import Event from '~/components/Event'
import Genres from '~/components/Genres'
import Icon from '~/components/Icon'
import LinkExternal from '~/components/LinkExternal'
import { shouldHandleClick } from '../assets/shouldHandleClick'
import OwlUnhappy from '~/components/OwlUnhappy'

export default {
  components: {
    Event,
    Genres,
    Icon,
    LinkExternal,
    OwlUnhappy,
  },
  data() {
    return {
      isEmpty: isEmpty,
    }
  },
  computed: {
    ...mapGetters({
      isFavoriteVenue: 'userPreferences/isFavoriteVenue',
      isSelectedRegionTsri: 'regions/isSelectedRegionTsri',
      language: 'i18n/getLanguage',
      selectedRegionSlug: 'regions/selectedRegionSlug',
      suspendedUntil: 'regions/suspendedUntil',
    }),
    isSelectedRegionSuspended() {
      if (!this.suspendedUntil) {
        return false
      }
      return DateTime.fromISO(this.date) < this.suspendedUntil
    },
    suspendedUntilString() {
      if (this.suspendedUntil) {
        return this.suspendedUntil.setLocale(this.language).toLocaleString(DateTime.DATE_SHORT)
      }
    },
  },
  props: {
    date: {
      type: String,
      required: true,
    },
    dayEvents: {
      type: Array,
      required: true,
    },
  },
  methods: {
    eventLink(event) {
      return {
        name: 'region-date-event',
        params: {
          lang: this.language,
          region: this.selectedRegionSlug,
          date: event.eventDay,
          event: event.id,
        },
      }
    },
    eventHref(event) {
      let eventLink = this.eventLink(event)
      return this.$router.resolve(eventLink).href
    },
    eventOnClick(e) {
      if (!shouldHandleClick(e)) {
        return
      }
      let href = e.currentTarget.getAttribute('href')
      this.$router.push({ path: href })
    },
  },
  activated() {
    if (this.scrollTop !== undefined) {
      this.$refs.scrollContainer.scrollTop = this.scrollTop
    }
  },
  deactivated() {
    this.scrollTop = this.$refs.scrollContainer.scrollTop
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.DayEvents-scrollContainer {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  scrollbar-width: thin; // Style scrollbar on FF

  .DayEvents {
    padding-bottom: 1rem;
    padding-top: 0.5rem;

    @include medium {
      padding-bottom: 2.5rem;
    }

    .DayEvents-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      &.DayEvents-list--empty {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: center;

        .OwlUnhappy {
          width: 120px;
        }

        h2 {
          font-size: 1.1em;
          text-align: center;
        }
      }
    }

    .DayEvents-teaser {
      font-size: $fontSizeSmall;
      margin: 1.8em auto 0;
      max-width: var(--max-page-width);
      opacity: 0.6;
      padding: 10px var(--container-padding);
    }
  }
}
</style>
