<template>
  <div class="EventDetails">
    <EventDetailsMap :event="event" />
    <EventDetailsMeta :event="event" />
    <EventDetailsMain :event="event" />

    <div class="EventDetails-actions">
      <div class="container">
        <div class="actions">
          <Button
            class="button-reset"
            :class="{ 'actions-undo': isFavorite }"
            color="transparent"
            :icon="isFavorite ? '' : 'favorite-1'"
            @click.native="favoriteVenue()"
            >{{ isFavorite ? $t('button.unFavoriteVenue') : $t('button.favoriteVenue') }}</Button
          >
          <Button class="button-reset" color="transparent" icon="share-1" @click.native="shareEvent()">{{
            $t('button.shareEvent')
          }}</Button>
        </div>
      </div>
    </div>

    <Button class="EventDetails-back button-reset" color="footer" icon="angle-left-1" :to="backLink">{{
      dateIsInCurrentWeek ? $t('button.back') : $t('button.home')
    }}</Button>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import Button from '~/components/Button'
import EventDetailsMap from '~/components/EventDetailsMap'
import EventDetailsMeta from '~/components/EventDetailsMeta'
import EventDetailsMain from '~/components/EventDetailsMain'
import { isModifierKey } from '~/assets/helpers'

export default {
  data() {
    return {
      isWebShareApiAvailable: false,
    }
  },
  components: {
    Button,
    EventDetailsMap,
    EventDetailsMeta,
    EventDetailsMain,
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
    dateIsInCurrentWeek: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      isFavoriteVenue: 'userPreferences/isFavoriteVenue',
      language: 'i18n/getLanguage',
      regionSlug: 'regions/selectedRegionSlug',
      todayDate: 'datetime/todayDate',
    }),
    isFavorite() {
      return this.isFavoriteVenue(this.event.venue.id)
    },
    backLink() {
      return {
        name: 'region-date',
        params: {
          lang: this.language,
          region: this.regionSlug,
          date: this.dateIsInCurrentWeek ? this.$route.params.date || this.todayDate : this.todayDate,
        },
      }
    },
  },
  methods: {
    ...mapMutations({
      addFavoriteVenue: 'userPreferences/addFavoriteVenue',
      removeFavoriteVenue: 'userPreferences/removeFavoriteVenue',
    }),
    playSong() {
      // @todo Add soundcloud integration
    },
    favoriteVenue() {
      this.isFavoriteVenue(this.event.venue.id)
        ? this.removeFavoriteVenue(this.event.venue.id)
        : this.addFavoriteVenue(this.event.venue.id)
    },
    shareEvent() {
      if (process.browser) {
        navigator.share({
          title: this.$t('EventDetails.share'),
          text: this.event.description,
          url: `${process.env.DENKMAL_WEBSITE_URL}${this.$route.fullPath}`,
        })
      }
    },
    handleKeyDown(event) {
      if (isModifierKey(event)) {
        return
      }
      // Esc key
      if (event.keyCode === 27) {
        this.$router.push(this.backLink)
      }
    },
  },
  mounted() {
    this.isWebShareApiAvailable = Boolean(window.navigator.share)
  },
  activated() {
    window.addEventListener('keydown', this.handleKeyDown)
  },
  deactivated() {
    window.removeEventListener('keydown', this.handleKeyDown)
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.EventDetails {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden; // Needed for FF
  padding-bottom: $footerHeight;

  @include medium {
    border: solid var(--color-border);
    border-width: 0 1px;
    padding-bottom: 0;
  }

  .EventDetailsMain {
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    scrollbar-width: thin; // Style scrollbar on FF
  }

  .EventDetails-actions {
    height: $footerHeight;
    width: 100%;

    .actions {
      background-color: var(--color-bg-body);
      border: solid var(--color-border);
      border-width: 1px 0;
      display: flex;
      height: $footerHeight;
      margin-left: calc(var(--container-padding) * -1);
      margin-right: calc(var(--container-padding) * -1);

      .actions-undo {
        color: var(--color-error);
      }

      .Button {
        border-radius: 0;
        height: 100%;
        margin: 0;
        padding: 0.5em;
        width: 50%;

        &:last-child {
          border-left: 1px solid var(--color-border);
        }

        .Button-inner-icon {
          margin-right: 0.5em;
        }

        .Button-inner-label {
          font-size: $fontSizeSmall;
        }
      }
    }
  }

  .EventDetails-back {
    bottom: 0;
    height: $footerHeight;
    left: 0;
    margin: 0;
    position: fixed !important;
    transform: translate3d(0, 0, 0);
    width: 100%;

    @include medium {
      bottom: auto;
      top: calc(#{$headerHeight} + 1em);
      width: auto;
    }

    .Button-inner {
      justify-content: flex-start;
    }
  }
}
</style>
