<template>
  <div>
    <div class="EventDetailsMap">
      <LinkExternal v-if="mapLink && mapImageUrl" class="EventDetailsMap-link" :href="mapLink">
        <img
          class="EventDetailsMap-image"
          :class="[{ 'EventDetailsMap-image--loading': !imageLoaded }]"
          :src="mapImageUrl"
          :load="(imageLoaded = true)"
          :alt="$t('EventDetailsMap.map')"
        />
      </LinkExternal>
      <div v-else class="EventDetailsMap-link">
        <MapPlaceholder
          class="EventDetailsMap-image EventDetailsMap-image--placeholder"
          :class="[{ 'EventDetailsMap-image--loading': !imageLoaded }]"
          :load="(imageLoaded = true)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { themeColors } from '~/assets/css'
import mapLightkStyles from '~/assets/maps/themeLight.json'
import mapNightStyles from '~/assets/maps/themeDark.json'
import parseStaticParams from '~/assets/maps/parseStaticParams'
import Icon from '~/components/Icon'
import LinkExternal from '~/components/LinkExternal'
import MapPlaceholder from '~/components/MapPlaceholder'
import { mapLinkByEvent } from '~/assets/mapLink'

export default {
  data() {
    return {
      imageLoaded: false,
    }
  },
  components: {
    Icon,
    LinkExternal,
    MapPlaceholder,
  },
  props: {
    event: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters({
      isNightMode: 'userPreferences/isNightMode',
      isGeoUrlSupported: 'useragent/isGeoUrlSupported',
    }),
    mapStyles() {
      // @todo introduce getTheme() helper
      return this.isNightMode ? mapNightStyles : mapLightkStyles
    },
    mapLink() {
      return mapLinkByEvent(this.event, this.isGeoUrlSupported)
    },
    mapImageUrl() {
      const baseUrl = 'https://maps.googleapis.com/maps/api/staticmap?'
      const lat = this.event.venue.latitude
      const lon = this.event.venue.longitude
      if (!lat || !lon) {
        return undefined
      }
      const themeColor = (themeColors[this.$route.params.region] || '#010101').substring(1)
      const params = {
        key: process.env.GOOGLE_MAPS_API_KEY,
        zoom: 13,
        format: 'jpg',
        size: '640x200',
        scale: 2,
        markers: `size:mid|color:0x${
          this.isNightMode ? themeColor : '1a1a1a' // @todo Get from getTheme()
        }|label:X|${lat},${lon}`,
      }

      const paramsURL = Object.entries(params)
        .map(([key, val]) => `${key}=${val}`)
        .join('&')
      return baseUrl + encodeURI(paramsURL + parseStaticParams(this.mapStyles))
    },
  },
}
</script>

<style lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.EventDetailsMap {
  position: relative;

  .EventDetailsMap-link {
    background-color: var(--color-bg);
    background-image: url(~assets/images/map-preloader.jpg);
    background-size: cover;
    display: block;
    max-width: var(--max-page-width);
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after {
      background-image: linear-gradient(
        to top,
        hsla(0, 0%, var(--color-accent-lightness), 0.08),
        hsla(0, 0%, var(--color-accent-lightness), 0) 10%,
        hsla(0, 0%, var(--color-accent-lightness), 0) 90%,
        hsla(0, 0%, var(--color-accent-lightness), 0.08)
      );
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .EventDetailsMap-image {
    background-color: var(--color-bg);
    height: 22vh;
    object-fit: cover;
    opacity: 1;
    position: relative;
    transform: scale(1.2);
    transition: opacity 1s;
    width: 100%;

    &.EventDetailsMap-image--loading {
      opacity: 0;
    }

    @include medium {
      height: 28vh;
    }
  }
}
</style>
