<template>
  <button
    aria-label="Menu"
    aria-controls="navigation"
    :class="{ 'hamburger--active': $store.state.isNavigationVisible }"
    class="hamburger button-reset"
    type="button"
    @click="$store.commit('toggleNavigationVisibility')"
  >
    <span class="hamburger-box">
      <span />
      <span />
      <span />
    </span>
  </button>
</template>

<style lang="scss">
@import '../assets/styles/variables';

.hamburger {
  background-color: transparent;
  border-radius: $radius;
  color: inherit;
  height: $headerHeight;
  padding: 0 0.5em;
  position: relative;
  right: -0.5em;
  transition: opacity 0.15s linear;

  .hamburger-box {
    display: grid;
    grid-template-rows: auto auto auto;
    height: 36px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: transform 0.15s ease;
    width: 28px;

    span {
      align-self: center;
      background-color: currentColor;
      border-radius: 1px;
      display: block;
      height: 2px;
      transition-duration: 0.15s;
      transition-property: transform;
      transition-timing-function: ease;
      width: 100%;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  &.hamburger--active {
    .hamburger-box {
      transform: rotate(-360deg);

      span {
        transform-origin: center;

        &:first-of-type {
          transform: translate3d(7px, 4px, 0) rotate(45deg) scale(0.5, 1);
        }

        &:nth-of-type(2) {
          transform: translate3d(0, 0, 0) scaleX(0.93);
        }

        &:last-of-type {
          transform: translate3d(7px, -4px, 0) rotate(-45deg) scale(0.5, 1);
        }
      }
    }
  }
}
</style>
