<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 100" class="OwlUnhappy">
    <title>{{ $t('DayEvents.unhappy') }}</title>
    <g>
      <path class="OwlUnhappy-foot" d="M27.33,81H39.1A6.8,6.8,0,0,0,27.33,81Z" />
      <path class="OwlUnhappy-foot" d="M41.48,81H53.26A6.8,6.8,0,0,0,41.48,81Z" />
      <path
        class="OwlUnhappy-body"
        d="M35.71,72.8,40,77.35l4.28-4.5,3.07,2.58S56.13,62,62,61.45A70.45,70.45,0,0,0,63.38,44h0c0-.24-.08-.45-.08-.68h0a44,44,0,0,0-3.3-12.67C58.55,27.39,62,24,59.3,19,53.88,24.85,45,24.08,40,24.08S26.16,24.84,20.74,19c-2.64,5,.78,8.36-.73,11.58A38.73,38.73,0,0,0,16.65,44a65.43,65.43,0,0,0,1.42,17.48c5.86.52,14.63,14,14.63,14Z"
      />
      <path
        class="OwlUnhappy-face"
        d="M40,47.88c-.85-.55-3.3-2.39-3.29-5.1,0-4.37,3.3-4.21,3.3-4.21s3.29-.16,3.29,4.21C43.31,45.49,40.86,47.33,40,47.88Z"
      />
      <path
        class="OwlUnhappy-face"
        d="M54.77,42.56a8.14,8.14,0,0,0,1.49-8.89L42.74,31.45A8.17,8.17,0,0,0,40.57,37c0,.18,0,.37,0,.55,2.1.24,3.49,1.9,3.75,4.4Zm-6-8.9A3.33,3.33,0,1,1,45.44,37,3.33,3.33,0,0,1,48.77,33.66Z"
      />
      <path
        class="OwlUnhappy-face"
        d="M37.31,31.44l-13.5,2.22a8.16,8.16,0,0,0,1.48,8.89l10.44-.62c.25-2.5,1.64-4.15,3.74-4.39,0-.18,0-.37,0-.55A8.15,8.15,0,0,0,37.31,31.44Zm-6,8.87A3.33,3.33,0,1,1,34.62,37,3.32,3.32,0,0,1,31.29,40.31Z"
      />
      <path
        class="OwlUnhappy-face"
        d="M53,45.32c.58.38,2.27,1.65,2.27,3.52,0,3-2.28,2.9-2.28,2.9s-2.27.12-2.27-2.9C50.7,47,52.39,45.7,53,45.32Z"
      />
    </g>
  </svg>
</template>

<style lang="scss">
.OwlUnhappy {
  .OwlUnhappy-body {
    fill: var(--owl-body-fill);
    stroke: currentColor;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
  }

  .OwlUnhappy-foot {
    fill: currentColor;
  }

  .OwlUnhappy-face {
    fill: var(--owl-face-fill);
  }
}
</style>
