<template>
  <div class="Select">
    <select :id="id" v-model="inputVal">
      <option v-for="{ value, label, disabled } in options" :key="value" :value="value" :disabled="disabled">{{
        label
      }}</option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      inputVal: this.value,
    }
  },
  watch: {
    inputVal(val) {
      this.$emit('input', val)
    },
  },
}
</script>

<style lang="scss">
@import './assets/styles/variables.scss';

.Select {
  display: inline-block;
  height: $inputHeight;
  max-width: 100%;
  position: relative;

  &::after {
    border: 2px solid var(--color-border);
    border-right: 0;
    border-top: 0;
    content: '';
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: 0.625em;
  }

  select {
    align-items: center;
    appearance: none;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: $radius;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: $inputHeight;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 2.6rem;
    position: relative;
    vertical-align: top;
    width: 100%;

    &:focus {
      border-color: var(--color-theme);
      outline: none;
    }

    &:hover {
      border-color: var(--color-theme);
    }
  }
}
</style>
