<template>
  <div class="Snackbar">
    <transition name="snackbar" mode="out-in">
      <div v-show="isVisible" class="Snackbar-inner">
        <span>{{ dateFormatted }}</span>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { DateTime } from 'luxon'

export default {
  data() {
    return {
      isVisible: false,
      dateFormatted: '',
      timer: null,
    }
  },
  computed: {
    ...mapGetters({
      language: 'i18n/getLanguage',
      weekDateTimes: 'datetime/weekDateTimes',
    }),
    weekDatesFormatted() {
      return this.weekDateTimes.map((date) =>
        DateTime.fromISO(date).setLocale(this.language).toLocaleString(DateTime.DATE_SHORT),
      )
    },
  },
  methods: {
    showSnackbar({ index }) {
      if (index) {
        if (!this.isVisible) {
          this.isVisible = true
        }
        this.dateFormatted = this.weekDatesFormatted[index]

        if (this.timer) {
          clearTimeout(this.timer)
        }

        this.timer = setTimeout(() => {
          this.isVisible = false
        }, 600)
      }
    },
  },
  mounted: function () {
    if (process.browser) {
      this.$root.$on('swiper.setSlide', this.showSnackbar)
    }
  },
  beforeDestroy: function () {
    this.$root.$off('swiper.setSlide', this.showSnackbar)
  },
}
</script>

<style lang="scss">
@import 'assets/styles/variables.scss';

$snackbarHeight: 26px;

.Snackbar {
  bottom: $footerHeight + 1rem;
  left: 50%;
  pointer-events: none;
  position: fixed;
  transform: translate3d(-50%, 0, 0);

  .Snackbar-inner {
    align-items: center;
    background-color: var(--color-snackbar-bg);
    border-radius: $snackbarHeight / 2;
    color: var(--color-snackbar-fg);
    display: flex;
    font-size: 0.85em;
    height: $snackbarHeight;
    justify-content: center;
    min-width: 100px;
    padding-left: 1em;
    padding-right: 1em;
  }
}
</style>
