// Slide left
.slide-left-enter-active,
.slide-left-leave-active {
  transition: 200ms;
}

.slide-left-enter {
  opacity: 0;
  transform: translate3d(10px, 0, 0);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
}

// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Pop
.pop-enter-active,
.pop-leave-active {
  transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
}

.pop-enter-active {
  transition-delay: 200ms;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) rotate(-90deg);
}

// Snackbar
.snackbar-enter-active,
.snackbar-leave-active {
  transition: 300ms;
}

.snackbar-enter,
.snackbar-leave-to {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}
